body {
    font-family: Arial, sans-serif;
    background-color: #eaf7e9;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#app {
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#buscador {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

#buscador input {
    padding: 10px;
    font-size: 16px;
    width: 300px;
}

#buscador button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: not-allowed;
    background-color: #ddd;
    border: none;
    border-radius: 5px;
}

#resultats {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card {
    width: 200px;
    max-width: 200px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Animació a les targetes quan el cursor passa per sobre */
.card:hover {
    transform: scale(1.05); /* Lleuger zoom */
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}

.card p, .card h3 {
    margin: 5px 0;
    white-space: normal; /* Permet que el text continuï a la següent línia */
    word-wrap: break-word; /* Trenca paraules llargues si és necessari */
    overflow: hidden; /* Evita desbordaments visuals */
}

.card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 5px;
}

/* Informació i seccions */
#informacio {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

#informacio-artista, #informacio-cançons {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
}

/* Estils generals */
.container {
    display: flex;
    gap: 20px;
}

.section {
    flex: 1;
    background-color: #c8e6c9;
    padding: 20px;
    border-radius: 5px;
}

/* Estils dels items */
.playlist-item, .canço-item {
    background-color: #1b5e20;
    color: white;
    padding: 10px;
    margin: 5px 0;
    border-radius: 3px;
    cursor: pointer;
}

/* Estils dels botons */
button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}

.tornar {
    margin-bottom: 20px;
}

button.del, button.add {
    background-color: white;
    color: black;
    margin-left: 5px;
}

/* Input del nom de la playlist */
.playlist-input {
    margin-top: 10px;
    display: flex;
    gap: 5px;
}

#playlist-name {
    padding: 5px;
    flex-grow: 1;
}

.error {
    color: red;
    padding: 10px;
    background: #ffe6e6;
    border-radius: 4px;
}